*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111;

    font-family:Tahoma, Arial;

    color:white;

}



.container{

    width:100%;

    max-width:420px;

    padding:20px;

}



.box{

    background:#222;

    border-radius:15px;

    padding:20px;

    box-shadow:0 0 20px #000;

}



.hidden{

    display:none;

}



h2{

    text-align:center;

}



input{

    width:100%;

    padding:12px;

    margin:8px 0;

    border:none;

    border-radius:10px;

    outline:none;

    font-size:16px;

}



button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:10px;

    background:#4caf50;

    color:white;

    font-size:16px;

    cursor:pointer;

}



button:hover{

    opacity:.8;

}



#errorMessage{

    color:#ff5252;

    text-align:center;

}



/* الرسائل */

#messages{

    height:450px;

    overflow-y:auto;

    padding:10px;

    margin-bottom:10px;

}



.message{

    padding:10px;

    margin:8px 0;

    border-radius:12px;

    max-width:85%;

    word-wrap:break-word;

}



.my-message{

    background:#075e54;

    margin-right:auto;

}



.other-message{

    background:#333;

    margin-left:auto;

}



.message-name{

    font-size:13px;

    opacity:.7;

    margin-bottom:5px;

}



.message-text{

    font-size:16px;

}



.message-info{

    font-size:11px;

    margin-top:5px;

    opacity:.7;

}



.read{

    color:#4fc3f7;

}



.send-box{

    display:flex;

    gap:8px;

}



.send-box input{

    flex:1;

    margin:0;

}



.send-box button{

    width:100px;

}